version: '2'
services:
    php53:
        cpu_shares: 256
        #doesn't build anymore
        # build: ../docker/php5/
        image: vipconsult/php:5.3        
        volumes:
            - /home/vipconsult/http:/home/http
        extends:
             file: common.yml
             service: common
        environment:
        - PHP53_cookie_lifetime=315360000
        - PHP53_memory_limit=112M
        - PHP53_post_max_size=300M
        - PHP53_max_input_vars=1000
        - PHP53_display_errors=off
        - PHP53_error_reporting=E_ALL \& ~E_DEPRECATED
        - PHP53_upload_max_filesize=500M
        - PHP53_max_execution_time=1800
        - PHP53_default_socket_timeout=1800
        - PHP53_date_timezone=Europe\/London
        ## pool settings http://php.net/manual/en/install.fpm.configuration.php
        - PHP53_user=nobody
        - PHP53_group=nogroup
        - PHP53_port=9000
        - PHP53_pm=dynamic
        - PHP53_max_children=8
        - PHP53_start_servers=4
        - PHP53_min_spare_servers=2
        - PHP53_max_spare_servers=4
        #used only when pm is set ondemand
        - PHP53_process_idle_timeout=60
    php5:
        cpu_shares: 256
        build: ../docker/php5/
        volumes:
            - /home/vipconsult/http:/home/http
        extends:
             file: common.yml
             service: common
        environment:
        - PHP5_cookie_lifetime=315360000
        - PHP5_memory_limit=128M
        - PHP5_post_max_size=500M
        - PHP5_max_input_vars=5000
        - PHP5_display_errors=off
        - PHP5_error_reporting=E_ALL
        - PHP5_upload_max_filesize=500M
        - PHP5_max_execution_time=1800
        - PHP5_default_socket_timeout=1800
        - PHP5_date_timezone=Europe\/London
        ## pool settings http://php.net/manual/en/install.fpm.configuration.php
        - PHP5_user=nobody
        - PHP5_group=nogroup
        - PHP5_port=9000
        - PHP5_pm=dynamic
        - PHP5_max_children=8
        - PHP5_start_servers=4
        - PHP5_min_spare_servers=2
        - PHP5_max_spare_servers=4
        #used only when pm is set ondemand
        - PHP5_process_idle_timeout=60
    nginx:
        cpu_shares: 256
        build: ../docker/nginx/
        volumes:
            - /home/vipconsult/http:/home/http
        extends:
             file: common.yml
             service: common
        # entrypoint: bash
        # command: -c "ping google.com"
    memcached:
        cpu_shares: 100
        image: memcached:1.4.24    
        extends:
             file: common.yml
             service: common

    smtp:
        cpu_shares: 100
        build: ../docker/smtp/
        volumes:
            - /home/vipconsult/exim:/var/spool/exim4
        extends:
             file: common.yml
             service: common
        environment:
            - SMTP_INTERVAL=1m
            - SMTP_PROCESSING=queue_only_load_latch
            - SMTP_remote_max_parallel=2
            - SMTP_queue_run_max=3
            - SMTP_timeout_frozen_after=3h

    mysql:
        cpu_shares: 512
        image: mysql:5.6 
        ports:
            - 127.0.0.1:3306:3306        
        volumes:
            - /home/vipconsult/mysql:/var/lib/mysql
        extends:
             file: common.yml
             service: common

    psql:
        cpu_shares: 512
        build: ../docker/postgres/
        ports:
            - 127.0.0.1:5432:5432
        volumes:
            - /home/vipconsult/postgresql:/var/lib/postgresql/data
        extends:
             file: common.yml
             service: common
    cron:
        cpu_shares: 100
        build: ../docker/cron/
        volumes:  
            - /var/run/docker.sock:/var/run/docker.sock:ro
        extends:
             file: common.yml
             service: common
        environment:
            - DOCKER_API_VERSION=1.23
            - CRON_EMAIL=support@vip-consult.co.uk
            # - CRONTASK_1=0 1 * * *  root docker exec compose_php5_1 php /home/http/vip-consult.co.uk/seo/public/cron.php
            #split the smtp log
            - CRONTASK_2=0 12 * * * root docker exec compose_smtp_1 bash -c "exicyclog && chmod -R 777 /var/log/exim4/"
            - CRONTASK_3=0 5 * * * root docker exec compose_php5_1 php /home/http/vip-consult.co.uk/portal/public/index.php cron index
    fs:  
        cpu_shares: 800
        extends:
             file: common.yml
             service: common
    # psql_fs:
    #     cpu_shares: 256
    #     build: ../docker/postgres/ 
    #     volumes:
    #         - /home/vipconsult/postgresql:/var/lib/postgresql/data
    #     extends:
    #          file: common.yml
    #          service: common
    
